/* CardOne.css */
/* Add any custom styles here */

.card img {
  object-fit: contain;
  height: 300px;
}

.card-title {
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .card-title {
    font-size: 1.25rem;
  }

  .card-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .card-title {
    font-size: 1rem;
  }

  .card-text {
    font-size: 0.8rem;
  }
}
