/* Header.css */
.navbar {
  padding: 10px 20px;
}

.navbar-brand img.navbar-logo {
  height: 50px; /* Default size for mobile */
  transition: height 0.3s ease;
}

/* Increase logo size for larger screens */
@media (min-width: 768px) {
  .navbar-brand img.navbar-logo {
    height: 80px; /* Adjust the height as needed for desktop */
  }
}

/* Ensures the Navbar items are aligned to the right */
.navbar-collapse {
  justify-content: flex-end;
}

.nav-link {
  margin-right: 15px;
}

.button {
  margin-left: 10px;
}
