/* Header.css */
.header-container {
  position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: transparent; /* Add background color */
  z-index: 1000; /* Add a higher z-index */
}

.navbar-brand img {
  height: 60px;
  margin-right: 20px; /* Move logo to the right */
  margin-top: 5px; /* Adjust margin to move the image down */
  filter: none; /* Change logo color to white */
}

/* Align menu items to the right */
.navbar-nav {
  margin-left: auto;
}

/* Styling for menu buttons */
.nav-link,
.button {
  color: white;
  background-color: transparent;
  border: none;
  margin-right: 15px;
}

.button {
  margin-left: 10px;
}

/* Add hover effect for buttons */
.nav-link:hover,
.button:hover {
  background-color: rgba(19, 5, 5, 0.892);
}

/* Change the color of the hamburger icon */
.navbar-toggler {
  border-color: white; /* Change border color of the button */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
