.video-container {
  position: relative;
  width: 100vw; /* Use viewport width to take up full width of the page */
  height: 1000px; /* Adjust height as needed */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
}

.video-container video {
  width: 100%; /* Take up full width of the container */
  height: 100%; /* Take up full height of the container */
  object-fit: cover;
}
body {
  margin: 0;
  padding: 0;
}
