/* VideoPlayer.css */
.video-container {
  position: relative;
  width: 100vw; /* Use viewport width to cover the entire width */
  height: 100vh; /* Use viewport height to cover the entire height */
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the video covers the entire width */
  height: 100%; /* Ensure the video covers the entire height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  z-index: -1;
}
